body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    width: 90vw;
    justify-content: center;  /*comes to center horizontally */
}
.panel  {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    border-radius: 100px;
    margin: 10px;
    flex: 0.5;  /*it gives same size to all and it automatically adjusts with width size*/
    position: relative;
    cursor: pointer;
    transition: flex 0.7s ease-in;
}
.panel h3 {
    position: absolute;
    bottom: 10%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 1.3vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.4s; /*here it 0.4s is transition delay */
}
.panel.active {
    flex: 5; /*here for this active class only the flex size is 5 times*/
}
.active h3 {
    opacity: 1;
}